body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: lightgreen;
    width: 400px;
}
 #divr > p {
     background-color: lightpink;
    }/*seleção div especificas*/
 .divs { background-color: lightseagreen;

 }
